.itemshow{
    width: 97.5%;
    margin: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.itemshow__itembox{
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.itemshow__itembox-image{
    width: 100%;
    height: auto;
}
.itemshow__itembox-name{
    font-weight: 500;
    font-size: 15px;
    font-style: unset;
    font-family: Arial, Helvetica, sans-serif;
}
.itemShow_createItemButton{
    width: 25%;
    
    box-sizing: border-box;
    
    padding: 15px 15px 150px 15px;
}
.fa-solid.fa-plus{
    font-size: 150px;
}
.itemShow_childElement{
    background: rgb(212, 212, 212);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @keyframes heart{
    0%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(25deg) translateY(10px) scale(0.7)
    }
    50%{
        transform: rotate(-25deg) scale(200%) 
    }
   75%{
    transform:translateY(-5px) scale(150%) rotate(25deg) translateX(5px)
   }
    100%{
       
        transform: rotate(0) 
    }
}
.iconheart{
    cursor: pointer;
    height: 5px;
    color: brown;
}
.iconheart:hover{
    animation: heart 1.2s linear;
} */
@media (max-width:740px){
    .itemshow__itembox{
        width: 50%;
    }
    .itemShow_createItemButton{
        width: 50%;
    }
}