.itemshow{
    width: 97.5%;
    margin: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.itemshow__itembox{
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.itemshow__itembox-image{
    width: 100%;
    height: auto;
}
.itemshow__itembox-name{
    font-weight: 500;
    font-size: 17px;
    font-style: unset;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:740px){
    .itemshow__itembox{
        width: 50%;
    }
}